.input-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.input-wrapper label {
  font-size: 1.4rem;
  font-weight: 700;
}
.input-wrapper input {
  width: 5rem;
  border-radius: 5px;
  padding-left: 0.5rem;
  /* outline: 1px solid #8a2b06; */
  border: 1px solid #ccc;
}
